@import "/utils/colors.scss";
@import "/utils/screenSizes.scss";

.header {
  max-width: 60em;
}
.card {
  align-self: center;
  position: relative;
  max-width: 80em;
  width: 100%;
  border-radius: 20px;
  box-shadow: 4px 8px 20px 5px hsl(28, 50%, 90%);
  padding: 2em;
  color: inherit;

  .row {
    display: flex;
    flex-flow: row wrap;
    gap: 2em;

    .description {
      flex: 1;

      .info {
        display: flex;
        flex-flow: row nowrap;
        white-space: nowrap;
        gap: 0.5em;

        .titles {
          flex: 1;
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-end;
          gap: 0.5em;

          h3 {
            height: 30px;
            line-height: 30px;
          }
        }

        .values {
          flex: 1;
          display: flex;
          flex-flow: column nowrap;
          gap: 0.5em;

          span {
            height: 30px;
            line-height: 30px;
          }
        }
      }
    }
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.skills {
  flex: 1;
  display: flex;
  gap: 5%;
}
.list {
  list-style: none;
  padding: 0 20px;

  li {
    position: relative;
    padding: 5px;

    &::before {
      content: "▹";
      position: absolute;
      left: -20px;
      top: -2px;
      font-size: 1.5rem;
      color: $primary-color;
    }
  }
}

.logos {
  position: relative;
  margin-right: 5%;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 5%;
  

  div {
    max-height: 10vw;
    min-height: 100px;
    transition: transform .5s;
    &:hover {
      transform: translateY(-25px);
    }
  }
}
.downloadCV {
  display: inline-block;
  margin-top: 2em;

  svg {
    transition: transform 0.3s;
  }

  &:hover {
    svg {
      transform: translateX(5px);
    }
  }
}
.image {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;

  div {
    border-radius: 50%;
    .profilePicture {
      border-radius: inherit;
    }
  }
}
@media only screen and (max-width: $mobile) {
  .logos {
    margin-right: 0;
    grid-template-columns: repeat(2, 1fr);

    div {
      min-height: 0;
      max-height: 100px;
    }
  }
}
