@import "/utils/screenSizes.scss";
.sectionAbout {
  display: flex;
  flex-direction: column;
}
.header {
  margin: 5% 0;
  max-width: 60em;
}
.card {
  align-self: center;
  position: relative;
  max-width: 80em;
  width: 100%;
  border-radius: 20px;
  box-shadow: 4px 8px 20px 5px hsl(28, 50%, 90%);
  padding: 2em;
  color: inherit;
  
  .row {
    display: flex;
    flex-flow: row wrap;
    gap: 2em;

    .description {
      flex: 1;

      .info {
        display: flex;
        flex-flow: row nowrap;
        white-space: nowrap;
        gap: 0.5em;

        .titles {
          flex: 1;
          display: flex;
          flex-flow: column nowrap;
          align-items: flex-end;
          gap: 0.5em;

          h3 {
            height: 30px;
            line-height: 30px;
          }
        }

        .values {
          flex: 1;
          display: flex;
          flex-flow: column nowrap;
          gap: 0.5em;

          span {
            height: 30px;
            line-height: 30px;
          }
        }
      }
    }
  }

  .downloadCV {
    display: inline-block;
    margin-top: 2em;
  }
}
.image {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;

  div {
    border-radius: 50%;
    .profilePicture {
      border-radius: inherit;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .sectionAbout {
    gap: 2em;
  }
}
