@import "@utils/colors.scss";

$icon-gap: 0.8rem;

.button {
  position: relative;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s ease-in-out;

  .icon {
    height: 24px;
    width: 24px;

    svg {
      height: 100%;
      width: 100%;
    }
  }

  span {
    flex: 1;
  }
}

.fill {
  background-color: $primary-color;
  color: white;

  &:hover {
    background-color: desaturate(
      $color: darken($color: $primary-color, $amount: 15),
      $amount: 30
    );
  }
  &:active {
    background-color: desaturate(
      $color: darken($color: $primary-color, $amount: 20),
      $amount: 30
    );
  }
}
.outline {
  background: none;
  border: 2px solid $primary-color;
  color: inherit;

  &:hover {
    background-color: $primary-color;

    span {
      color: white;
    }
    .icon svg {
      path,
      polyline,
      circle {
        stroke: white !important;
      }
    }
  }
  &:active {
    background-color: desaturate(
      $color: darken($color: $primary-color, $amount: 20),
      $amount: 30
    );
    border-color: desaturate(
      $color: darken($color: $primary-color, $amount: 20),
      $amount: 30
    );
  }
}
