@import "/utils/colors.scss";
.card {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  background: inherit;
  border-radius: 16px;
  min-width: 250px;
  max-width: 22em;
  box-shadow: 4px 8px 20px 5px hsl(0, 0%, 92%);
  color: inherit;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}
.image {
  position: relative;
  height: 250px;
  border-radius: inherit;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  div {
    border-radius: inherit;
  }
}
.content {
  flex: 1;
  padding: 1em;
}
.title {
  font-size: 1.8rem !important;
}
.description {
  font-size: 1rem !important;
}
.tags,
.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.tags {
  margin: 0.5em 0;
}
.technologies {
  margin-top: 0.5em;
}
.usedTechHeader {
  font-family: "Manrope", sans-serif;
  font-size: 0.85rem;
  font-weight: 700;
}
.viewMore {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 1em 1em 0;
  white-space: nowrap;
}
