@import "/utils/colors.scss";
@import "/utils/screenSizes.scss";
.container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.header {
  margin: 5% 0;
}

.contacts {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  gap: 5%;
  ul {
    padding: 0;
  }
}

/*.overlay {
  position: relative;
  width: 20rem;
  margin: 0;
  display: flex;
  flex-direction: column;

  button {
    font-size: 1.2rem;
    width: inherit;
  }

  .overlayText {
    position: absolute;
    top: 45%;
    align-self: center;
    font-family: "Manrope";
    padding: 0.5rem;
    opacity: 0;
    z-index: -1;
  }
}*/
.image {
  position: relative;
  min-width: 30vw;
  min-height: 30vw;
  flex: 1;
  justify-self: center;
  align-self: center;
}
.row {
  display: flex;
  flex-flow: row wrap-reverse;
}
.footer {
  margin: 4em 0;
  text-align: center;
  font-family: "Manrope", sans-serif;
}

/*.show {
  animation: slideDownAndUp 2s ease-in-out 2 alternate;
}

@keyframes slideDownAndUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  35% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
    transform: translateY(30px);
  }
}*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: $mobile) {
  .image {
    min-height: 40vw;
    width: 100%;
  }
  .footer {
    margin-top: 0;
  }
}
