@use "./Navbar.module.scss" as navbar;
@import "/utils/screenSizes.scss";

.container {
  height: 100vh;
}

.main {
  overflow-x: hidden;

  section {
    padding: 2rem 5%;

    &:nth-child(3) {
      display: flex;
      flex-direction: column;
    }
  }
}

@keyframes slideUp {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
}

@media only screen and (min-width: $desktop){
  .main {
    section {
      margin-right: navbar.$width;
    }
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}

@media only screen and (min-width: $desktop) and (min-height: 880px) {
  .main {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    
    section {
      height: 100vh;
      scroll-snap-align: start;
      max-height: 100%;
    }
  }
}

@media only screen and (max-width: $desktop - 1px) {
  .main {
    section {
      margin-right: 0;
    }
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}

@media only screen and (max-width: $tablet) {
  .main {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .main {
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
}
