@use "./Navbar.module.scss" as navbar;
@import "/utils/screenSizes.scss";

.container {
  height: 100vh;
}

.main {
  height: inherit;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;

  section {
    height: inherit;
    scroll-snap-align: start;
    display: grid;
    place-items: center;
    padding: 2rem 5%;
    margin-right: navbar.$width;
    max-height: 100%;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
}

@media only screen and (min-width: $desktop) {
  .main {
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 1.3rem;
    }
  }
}

@media only screen and (max-width: $desktop - 1px) {
  .main {
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}

@media only screen and (max-width: $tablet) {
  .main section {
    margin-right: 0;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: $mobile) {
  .main {
    height: auto;
    scroll-snap-type: none;
    overflow-y: none;
    overflow-x: none;

    section {
      scroll-snap-align: none;
    }
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
}

@media only screen and (max-width: $tablet) and (orientation: landscape) {
  .main {
    height: auto;
    scroll-snap-type: none;
    overflow-y: none;
    overflow-x: none;

    section {
      scroll-snap-align: none;
    }

    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
}
