@import "/utils/colors.scss";
@import "/utils/screenSizes.scss";
.container {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}
.content {
  flex: 1;
  max-width: 35rem;
  animation: slideUp 1s;

  h1 {
    font-size: 5rem;
    white-space: nowrap;
  }
  h3 {
    display: inline-block;
    font-weight: 600;
    padding: 0.3em 1em;
    border-radius: 50px;
    background-color: $primary-color;
    color: white;
  }
}

.animatedArrow {
  display: grid;
  place-items: center;
  animation: slideUpAndDown 2s ease-in-out alternate infinite;

  img {
    cursor: pointer;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes slideUpAndDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(25px);
  }
}

@media only screen and (min-width: $desktop) {
  .container {
    gap: 6rem;
    padding: 0;
  }
  .content {
    min-width: 350px;
  }
}

@media only screen and (max-width: $desktop - 1px) {
  .container {
    gap: 2rem;
    padding: 0;
  }
}

@media only screen and (max-width: $tablet) {
  .animatedArrow {
    display: none;
  }
}
