@import "/utils/screenSizes.scss";
$width: 160px;

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  
  
  ul {
    list-style: none;
    padding: 0;
    animation: slideLeft 1s;

    li {
      padding: 0.5rem;

      a {
        cursor: pointer;
        font-weight: 600;
        font-size: 1.1rem;
        transition: color 0.2s ease-in-out !important;

        &:hover {
          color: hsl(28, 100%, 60%);
        }
      }
    }
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(500px);
  }
}
.navIcon {
  display: none;
}
@media only screen and (min-width: $desktop) {
  .navbar {
    width: $width;
    margin-top: 80px;
  }
}

@media only screen and (max-width: $desktop - 1px) {
  .navbar {
    padding: 0 1em;
    
    ul {
      display: flex;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .navbar {
    top: unset;
    right: unset;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    color: black;
    transform: translateY(72px);
    transition: transform .8s;
    
    .navIcon, ul {
      flex: 1;
      background: white;
      box-shadow: 4px 8px 20px hsl(0, 0%, 92%);
    }

    .navIcon {
      border-radius: 50% 50% 0 0;
      padding: .5em;
      display: flex;
      align-items: center;
      transition: transform .8s;

      svg {
        transition: transform .5s;
      }
    }
    ul {
      margin: 0;
      width: 100vw;
      border-radius: 2em 2em 0 0;
      padding: 1em;
    }
  }
}
